<div id="login-box">
<div class="hidden help" id="login-fail">Wrong credentials. Try again.</div>
<%= form_tag '', :id => 'login-form' do %>
<%= text_field_tag :email, nil, :id => 'email', :class => 'field faded', :value => 'your@email.com' %>
<%= password_field_tag :password, nil, :id => 'password', :class =>
'field faded', :value => 'password' %>
<%= submit_tag 'log in', :id => 'login', :class => 'istok fright
login-button' %>
<%= submit_tag 'sign up', :id => 'signup', :class => 'istok fleft
login-button' %>
<% end %>
<!--<form action="" id="login-form">
<input class="field" id="email" name="email" type="text" />
<input class="field" id="password" name="password" type="password" />
<input class="istok fright login-button" name="commit" type="submit"
       value="log in" id="login"/>
<input class="istok fleft login-button" name="commit" type="submit"
       value="sign up" id="signup"/>
</form>-->
</div>
