<script type="text/javascript">
  OFMFS.Page.edit = true;
</script>
<%= form_for(@page) do |f| %>
<div id="title" class="draggable">
<h1 class="istok text-shadow" id="track-title"><%= @track.title %></h1>
<h2 class="istok text-shadow"
    id="artist-name"><%= @track.artist_string %></h2>
<%= f.hidden_field :title_x, :value => 50 %>
<%= f.hidden_field :title_y, :value => 50 %>
<%= f.hidden_field :title_font %>
<%= link_to "choose font", 'javascript://', :id => 'title-font-link' %>
<div id="title-tooltip" class="help second">
Move me around!
<div class="arrow-border"></div>
<div class="arrow"></div>
</div>
</div>
<div id="social" class="fright">
  <div id="edit-links" class="help second">
<%= f.text_field :facebook, :value => Page::DEFAULT[:facebook] %><br/>
<%= f.text_field :twitter, :value => Page::DEFAULT[:twitter] %><br/>
<%= f.text_field :website, :value => Page::DEFAULT[:website] %><br/>
<%= f.text_field :myspace, :value => Page::DEFAULT[:myspace] %>
    <div class="arrow-border"></div>
    <div class="arrow"></div>
  </div>
<div class="widget" id="social-container">
  <%= link_to "", "javascript://", :class => "button medium myspace
  fright faded", :id => "myspace-btn" %>
  <%= link_to "", "javascript://", :class => "button medium website
  fright faded", :id => "website-btn" %>
  <%= link_to "", "javascript://", :class => "button medium twitter
  fright faded", :id => "twitter-btn" %>
  <%= link_to "", "javascript://", :class => "button medium facebook
  fright faded", :id => "facebook-btn" %>
</div>
</div>
<%= hidden_field_tag 'page[token]' %>
<%= hidden_field_tag 'page[track_id]', @track.id %>
<%= f.submit 'Save page', :class => 'second' %>
<% end %>
<div id="upload-tooltip" class="help first">Choose your background picture.
  <div class="arrow-border"></div>
  <div class="arrow"></div>
</div>
<div id="font-modal" class="hidden">
<h3 class="istok">Choose your title font</h3>
<table>
<% Page::FONTS.each_with_index do |font, i| %>
<% if i%3 == 0 %>
<tr>
<% end %>
<td data="<%= font %>"><%= @track.title %></td>
<% if i%3 == 2 %>
</tr>
<% end %>
<% end %>
</table>
<div class="fclear"></div>
</ul>
</div>
<input type="button" id="upload" />
<iframe id="upload_target" name="upload_target"
	src="/upload_form?track_id=<%= @track.id %>"></iframe>
<div id="pending" class="hidden"><%= image_tag 'spinner1.gif' %></div>
<div id="overlay" class="hidden"></div>
