<!DOCTYPE html>
<html>
<head>
  <title><%= @track.artist_string %> - <%= @track.title %></title>
  <%= javascript_include_tag "jquery-1.6.2.min" %>
  <%= javascript_include_tag "player_api" %>
  <%= javascript_include_tag 'swfupload', 'jquery.swfupload' %>
  <%= javascript_include_tag 'application', 'shared', 'page-edit', 'player' %>
  <script type="text/javascript">
    OFMFS.loggedIn = <%= current_user ? 'true' : 'false' %>
  </script>
  <%= stylesheet_link_tag 'shared', 'page' %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1 class="istok"><%= @track.title %></h1>
<h2 class="istok"><%= @track.artist_string %></h2>
<div id="player" class="fleft">
  <%= link_to "", "javascript://", :class => "button large loading
  fleft #{@track.id}-track", :id => "#{@track.id}-track",
  :title => "Play music by #{@track.artist_string}" %>
</div>
<%= form_for(@page) do |f| %>
<div id="social" class="fright">
  <div id="edit-links" class="help second">
<%= f.text_field :facebook, :value => Page::DEFAULT[:facebook] %><br/>
<%= f.text_field :twitter, :value => Page::DEFAULT[:twitter] %><br/>
<%= f.text_field :website, :value => Page::DEFAULT[:website] %><br/>
<%= f.text_field :myspace, :value => Page::DEFAULT[:myspace] %>
    <div class="arrow-border"></div>
    <div class="arrow"></div>
  </div>
  <%= link_to "", "javascript://", :class => "button medium myspace
  fright faded", :id => "myspace-btn" %>
  <%= link_to "", "javascript://", :class => "button medium website
  fright faded", :id => "website-btn" %>
  <%= link_to "", "javascript://", :class => "button medium twitter
  fright faded", :id => "twitter-btn" %>
  <%= link_to "", "javascript://", :class => "button medium facebook
  fright faded", :id => "facebook-btn" %>
</div>
<%= hidden_field_tag 'page[token]' %>
<%= hidden_field_tag 'page[track_id]', @track.id %>
<%= f.submit 'Save page', :class => 'second' %>
<% end %>
<div id="upload-tooltip" class="help first">Choose your background picture.
  <div class="arrow-border"></div>
  <div class="arrow"></div>
</div>
<input type="button" id="upload" />
<div id="search-player"></div>
<div id="pending" class="hidden"><%= image_tag 'spinner1.gif' %></div>
<iframe id="upload_target" name="upload_target"
	src="/upload_form?track_id=<%= @track.id %>"></iframe>
</body>
</html>
