<script type="text/javascript">
  OFMFS.Page.edit = true;
</script>
<%= form_for(@page) do |f| %>
<div id="title" class="draggable">
<h1 class="istok text-shadow" id="track-title"><%= @track.title %></h1>
<h2 class="istok text-shadow"
    id="artist-name"><%= @track.artist_string %></h2>
<%= hidden_field_tag 'page[title_x]', 50 %>
<%= hidden_field_tag 'page[title_y]', 50 %>
<div id="title-tooltip" class="help second">
Move me around!
<div class="arrow-border"></div>
<div class="arrow"></div>
</div>
</div>
<div id="social" class="fright">
  <div id="edit-links" class="help second">
<%= f.text_field :facebook, :value => Page::DEFAULT[:facebook] %><br/>
<%= f.text_field :twitter, :value => Page::DEFAULT[:twitter] %><br/>
<%= f.text_field :website, :value => Page::DEFAULT[:website] %><br/>
<%= f.text_field :myspace, :value => Page::DEFAULT[:myspace] %>
    <div class="arrow-border"></div>
    <div class="arrow"></div>
  </div>
<div class="widget" id="social-container">
  <%= link_to "", "javascript://", :class => "button medium myspace
  fright faded", :id => "myspace-btn" %>
  <%= link_to "", "javascript://", :class => "button medium website
  fright faded", :id => "website-btn" %>
  <%= link_to "", "javascript://", :class => "button medium twitter
  fright faded", :id => "twitter-btn" %>
  <%= link_to "", "javascript://", :class => "button medium facebook
  fright faded", :id => "facebook-btn" %>
</div>
</div>
<%= hidden_field_tag 'page[token]' %>
<%= hidden_field_tag 'page[track_id]', @track.id %>
<%= f.submit 'Save page', :class => 'second' %>
<% end %>
<div id="upload-tooltip" class="help first">Choose your background picture.
  <div class="arrow-border"></div>
  <div class="arrow"></div>
</div>
<input type="button" id="upload" />
<iframe id="upload_target" name="upload_target"
	src="/upload_form?track_id=<%= @track.id %>"></iframe>
<div id="pending" class="hidden"><%= image_tag 'spinner1.gif' %></div>
