<%= javascript_include_tag 'colorpicker' %>
<%= stylesheet_link_tag 'colorpicker' %>
<script type="text/javascript">
  OFMFS.Page.edit = true;
  OFMFS.Page.newPage = <%= @new %>;
</script>
<script type="text/javascript">
  $(function(){
  WebFontConfig = {
            google: { families: ['<%= @page.title_font %>',
  '<%= @page.artist_font %>'] }
	};
	var wf = document.createElement('script');
	wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
	    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
	wf.type = 'text/javascript';
	wf.async = 'true';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(wf, s);
});
</script>
<%= form_for(@page) do |f| %>
<div id="title" class="draggable" style="top:<%= @page.title_y %>px;
					 left:<%= @page.title_x %>px;">
<h1 class="text-shadow" id="track-title"
    style="font-family:'<%= @page.title_font_or_default
	   %>';<% if @page.title_font? %>font-weight:normal;<% end %>color:<%=@page.title_color_or_default
	   %>;font-size:<%= @page.title_size_or_default %>px;"
><%= @track.title %></h1>
<h2 class="istok text-shadow"
    id="artist-name" style="font-family:'<%= @page.artist_font_or_default
	   %>', sans-serif;<%if @page.artist_font?
    %>font-weight:normal;<% end %>color:<%=@page.artist_color_or_default %>;font-size:<%= @page.artist_size_or_default %>px;"><%= @track.artist_string %></h2>

<%= f.hidden_field :title_x %>
<%= f.hidden_field :title_y %>
<%= f.hidden_field :title_font %>
<%= f.hidden_field :artist_font %>
<%= f.hidden_field :title_colour %>
<%= f.hidden_field :artist_colour %>
<div id="title-tooltip" class="help title-tooltips third">
Move me around!
<div class="arrow-border"></div>
<div class="arrow"></div>
</div>
<div id="title-font-tooltip" class="help title-tooltips third">
  <div class="arrow-border"></div>
  <div class="arrow"></div>
  <table>
    <tr>
<th></th><th>FONT</th><th>COLOR</th><th>SIZE</th></tr>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= image_tag "font.png",
	      :id => 'title-font-link', :class => 'font-link'%></td><td>
	<div id="title-color-preview" class="color-preview">
	  <div id="title-color-picker" class="hidden color-picker">
	  </div>
    </div></td>
      <td>
	<%= f.select :title_size, options_for_select(8.upto(70), 50) %>px
      </td>
    </tr>
    <tr>
      <td>Artist name</td>
      <td>
	<%= image_tag "font.png",
	    :id => 'artist-font-link', :class => 'font-link' %>
	</td>
      <td>
	<div id="artist-color-preview" class="color-preview">
	  <div id="artist-color-picker" class="hidden color-picker">
	  </div>
	</div>
	</td>
      <td>
	<%= f.select :artist_size,options_for_select(8.upto(70), 30) %>px
      </td>
    </tr>
  </table>
<%= submit_tag 'OK', :class => 'fright', :id => 'OK-title' %>
<div class="fclear"></div>
</div>
</div>
<div id="social" class="fright">
  <div id="edit-links" class="help second">
<%= f.text_field :facebook %><br/>
<%= f.text_field :twitter %><br/>
<%= f.text_field :website %><br/>
<%= f.text_field :myspace %><br/>
<%= submit_tag 'OK', :class => 'fright', :id => 'OK-links' %>
<div class="fclear"></div>
    <div class="arrow-border"></div>
    <div class="arrow"></div>
  </div>
<div class="widget" id="social-container">
  <%= link_to "", "javascript://", :class => "button medium myspace
  fright faded", :id => "myspace-btn" %>
  <%= link_to "", "javascript://", :class => "button medium website
  fright faded", :id => "website-btn" %>
  <%= link_to "", "javascript://", :class => "button medium twitter
  fright faded", :id => "twitter-btn" %>
  <%= link_to "", "javascript://", :class => "button medium facebook
  fright faded", :id => "facebook-btn" %>
</div>
</div>
<%= hidden_field_tag 'page[token]' %>
<%= hidden_field_tag 'page[track_id]', @track.id %>
<div id="custom-url" class="help fourth">
<div class="arrow-border"></div>
<div class="arrow"></div>
<span id="base-url">http://electric-samurai-728.heroku.com/</span><%= f.text_field :custom, :value => @page.default_custom %>
  <%= submit_tag 'OK', :id => 'OK-custom' %>
</div>
<%= f.submit 'Save page', :class => 'fifth' %>
<% end %>
<div id="upload-tooltip" class="help first">Choose your background picture.
  <div class="arrow-border"></div>
  <div class="arrow"></div>
</div>
<div id="font-modal" class="hidden">
<h3 class="istok">Choose your title font</h3>
<table>
<% Page::FONTS.each_with_index do |font, i| %>
<% if i%3 == 0 %>
<tr>
<% end %>
<td data="<%= font %>"><%= @track.title %></td>
<% if i%3 == 2 %>
</tr>
<% end %>
<% end %>
</table>
<div class="fclear align-text-right"><%= link_to 'Cancel',
					 'javascript://', :id => 'cancel-font' %></div>
</ul>
</div>

<input type="button" id="upload" />
<iframe id="upload_target" name="upload_target"
	src="/upload_form?track_id=<%= @track.id %>"></iframe>
<div id="pending" class="hidden"><%= image_tag 'spinner1.gif' %></div>
<div id="overlay" class="hidden"></div>
