
<div id="pending" class="hidden"><%= image_tag 'spinner1.gif' %></div>
<iframe id="upload_target" name="upload_target"
	src="/upload_form?track_id=<%= @track.id %>"></iframe>
<%= form_for(@page) do |f| %>
<div id="social" class="fright">
  <div id="edit-links" class="help second">
<%= f.text_field :facebook, :value => Page::DEFAULT[:facebook] %><br/>
<%= f.text_field :twitter, :value => Page::DEFAULT[:twitter] %><br/>
<%= f.text_field :website, :value => Page::DEFAULT[:website] %><br/>
<%= f.text_field :myspace, :value => Page::DEFAULT[:myspace] %>
    <div class="arrow-border"></div>
    <div class="arrow"></div>
  </div>
  <%= link_to "", "javascript://", :class => "button medium myspace
  fright faded", :id => "myspace-btn" %>
  <%= link_to "", "javascript://", :class => "button medium website
  fright faded", :id => "website-btn" %>
  <%= link_to "", "javascript://", :class => "button medium twitter
  fright faded", :id => "twitter-btn" %>
  <%= link_to "", "javascript://", :class => "button medium facebook
  fright faded", :id => "facebook-btn" %>
</div>
<%= hidden_field_tag 'page[token]' %>
<%= hidden_field_tag 'page[track_id]', @track.id %>
<%= f.submit 'Save page', :class => 'second' %>
<% end %>
<div id="upload-tooltip" class="help first">Choose your background picture.
  <div class="arrow-border"></div>
  <div class="arrow"></div>
</div>
<input type="button" id="upload" />
