<!DOCTYPE html>
<html>
<head>
  <title><%= @track.artist_string %> - <%= @track.title %></title>
  <%= javascript_include_tag "jquery-1.6.2.min" %>
  <%= javascript_include_tag "player_api" %>
  <%= javascript_include_tag 'application', 'page', 'player' %>
  <script type="text/javascript">
    OFMFS.loggedIn = <%= current_user ? 'true' : 'false' %>
  </script>
  <%= stylesheet_link_tag 'shared', 'page' %>
  <%= csrf_meta_tag %>
</head>
<body>
<h1 class="istok"><%= @track.title %></h1>
<h2 class="istok"><%= @track.artist_string %></h2>
<div id="player">
  <%= link_to "", "javascript://", :class => "button large loading
  fleft #{@track.id}-track", :id => "#{@track.id}-track",
  :title => "Play music by #{@track.artist_string}" %>
</div>
<div id="search-player"></div>
<div id="pending" class="hidden"><%= image_tag 'spinner1.gif' %></div>
</body>
</html>
